<section class="box">

  
  
  
    <article class="wrapper">
      <span class="bg-animate"></span> 
    
      <div class="header-left">
         
        <div class="slogan">
          <p>MOTO-FIX</p>
          <p class="p-slogan">Ingreso de Motos</p>
        </div>
          
        
          
        </div>
      
        <div class="header-right">
          <article class="logo">
  
            <img src="../../../assets/img/logos/softRedLogoFinal-removebg-preview.png" alt="">
          </article>
         
        </div>
       
     
    </article>
    
  </section>
  





<!-- <header>
 

  <section class="top-image">
    <span class="bg-animate"></span>
    <div class="slogan">
      <p>Moto servicio</p>
      <p>Es lo que hacemos</p>
    </div>

    <div class="logo">
      <img
        src="../../../assets/img/logos/softRedLogoFinal-removebg-preview.png"
        alt=""
      />
    </div>
  </section>
</header>



<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li>
      </ul>
      <form class="d-flex" role="search">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#" routerLink="/login">Login</a>
            </li>
          </ul>

      </form>
    </div>
  </div>
</nav> -->
