
<main>
 
 
<section class="box">
  <article class="slogan">
    <p>MOTO-FIX</p>
    
  </article>

<article class="logo">

  

   
  

  <img src="../../../assets/img/logos/softRedLogoFinal-removebg-preview.png" alt="">
</article>


  <article class="wrapper">
    <span class="bg-animate"></span> 
  
    <div class="display-clock">
       
        
      <div class="time">
          {{ digitalClock }}
        </div>
        
      </div>
    
      <div class="fullDate">
        <div class="day">
          {{ day }}
        </div>

        <div class="date">
          {{ date }}
        </div>
       
      </div>
     
   
  </article>
  <button class="btn" type="submit" routerLink="/login/"> Ingresar</button>
</section>


</main>